
<div class="container bg-secondary" style="">
  <h1 class ="text-center text-light">Welcome to Rent My Watch</h1>
  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <div>
    <h1 style="border:1px solid white;margin-left:auto;margin-right:auto;color:white;">Watch Collection</h1>
    <% @watches.each do |watch| %>
     <div class="col text-light">
      <div class="p-3">
        <%= link_to watch.name, watch_path(watch) %></div>
    </div>
    <% end %>
  </div>
</div>
