<div class=" container bg-light py-5">
  <h1 class ="text-center"><span data-controller="typed-js"></h1>
  <div>
    <h2 class ="my-5 text-center border border-3 border-dark rounded-3">Watch Collection</h1>
    <div class="input-group rounded">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <div class="row">
      <% @watches.each do |watch| %>
        <div class="col-6 col-sm-4 d-flex justify-content-center">
          <div class="p-3 text-center">
            <%= cl_image_tag watch.photo.key, alt:"Test-Image", class:"img-thumbnail" if watch.photo.attached? %>
            <%= link_to watch.name, watch_path(watch) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
